<div id="asteroid-information">
        <p id="title">the trojan asteroids</p>

        <!-------------- carousel smartphone and tablette -------------->

    <div id="carouselSmartphoneTablette">
        <div id="carouselSmartphoneTabletteImage">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="/assets/trojan-asteroid2.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/2001QR322.png" alt="2001QR322 slide"><p>2001 QR 322</p>
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/2010 TK7.png" alt="2010 TK7 slide"><p>2010 TK7</p>
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/trojan-asteroid3.gif" alt="Four slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/5261 eurêka.png" alt="5261 eurêka slide"><p>5261 eureka</p>
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/588 achille.png" alt="588 achille slide"><p>588 achille</p>
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/trojans-asteroid1.gif" alt="Seven slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/884 priam.png" alt="884 priam slide"><p>884 priam</p>
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/assets/911 agamemnon.png" alt="911 agamemnon slide"><p>911 agamemnon</p>
                </div>                
              </div>
            </div> 
        </div>
            
            <!---------- description --------->

        <div id="carouselSmartphoneTabletteText">
            <p class="asteroid-text">Les astéroïdes troyens, 
                ne sont pas une ceinture mais un groupe d'astéroïdes. 
                Ils partagent l'orbite de la planète Jupiter autour du soleil 
                aux alentours des points Lagrange L4 et L5 de l'orbite de cette planète, 
                c'est à dire qu'ils sont situés à 60° en avance ou en retard sur Jupiter. 
                Le point de Lagrange, noté de L1 à L5, est une position où les champs de gravité de 
                deux corps en mouvement orbital l'un autour de l'autre, fournissent exactement la force 
                centripète (force permettant de maintenir un objet dans une trajectoire incurvée) requise 
                pour que ce point de l'espace accompagne simultanément le mouvement orbital des deux corps.
                </p>
        </div>
    </div>

<!-----------------------------------------CAROUSEL DESKTOP---------------------------------------->

    <div id="carousel">
        <div id="carousel-asteroid">
            <div class="carousel">
                <div class="item">
                    <img src="/assets/2001QR322.png">
                    <div class="name-item-carousel"><p>2001QR322</p></div>
                </div>
                <div class="item">
                    <img src="/assets/2010 TK7.png">
                    <div class="name-item-carousel"><p>2010 TK7</p></div>
                </div>
                <div class="item">
                    <img src="/assets/5261 eurêka.png">
                    <div class="name-item-carousel"><p>5261 eureka</p></div>
                </div>
                <div class="item">
                    <img src="/assets/588 achille.png">
                    <div class="name-item-carousel"><p>588 achille</p></div>
                </div>
                <div class="item">
                    <img src="/assets/884 priam.png">
                    <div class="name-item-carousel"><p>884 priam</p></div>
                </div>
                <div class="item">
                    <img src="/assets/911 agamemnon.png">
                    <div class="name-item-carousel"><p>911 agamemnon</p></div>
                </div>
            </div>
         </div>
         <div id="info-asteroid-connu">
            <div class="item2"><p>Les astéroïdes troyens, 
                ne sont pas une ceinture mais un groupe d'astéroïdes. 
                Ils partagent l'orbite de la planète Jupiter autour du soleil 
                aux alentours des points Lagrange L4 et L5 de l'orbite de cette planète, 
                c'est à dire qu'ils sont situés à 60° en avance ou en retard sur Jupiter. 
                Le point de Lagrange, noté de L1 à L5, est une position où les champs de gravité de 
                deux corps en mouvement orbital l'un autour de l'autre, fournissent exactement la force 
                centripète (force permettant de maintenir un objet dans une trajectoire incurvée) requise 
                pour que ce point de l'espace accompagne simultanément le mouvement orbital des deux corps.
                </p>
            </div>
         </div>
         <div class="button-aste">
            <button id="button-left-carousel" (click)="turn(-1); rotate(-1)" style="font-size:2.4em;color:#00bcd4 "><i class="fa fa-chevron-left"></i></button>
            <button id="button-right-carousel" (click)="turn(1); rotate(1)" style="font-size:2.4em;color: #00bcd4"><i class="fa fa-chevron-right"></i></button>
         </div>
      </div>
</div>