<div id="asteroid-information">
        <p id="title">the trojan asteroids</p>

        <!-- carousel -->

            <img id="asteroid-image" src="assets/vesta.png"/> 
            
            <!-- description -->

            <div id="asteroid-info-text">
            <div id="asteroid-text">
                <p>Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit. Incidunt recusandae eveniet voluptatibus. 
                    Excepturi earum, facere reprehenderit obcaecati amet doloremque maxime, 
                    est enim rerum quisquam possimus aperiam ullam voluptas adipisci quasi!</p>
            </div>
        </div>
    
</div>