


#image-de-fond {    
    position: absolute;
    width: 100vw;
    height: 71.95vw;
    z-index: -1;
}

@media only scren and (min-device-width: 813px) and (max-device-width: 1024px){

    #image-de-fond {
        position: absolute;
        width: 180vw;
        height: 150vw;
    }   
}

@media only screen and (min-device-width: 376px) and (max-device-width: 812px){

    #image-de-fond {
        position: absolute;
        width: 110vw;
        height: 150vw;
    }  
}

@media only screen and (max-device-width: 375px) {
    
    #image-de-fond {
        position: absolute;
        height: 220vw;
    }
}