*{
    box-sizing: border-box;
    
}



/**********************************INFOS********************************/

.carousel-info-asteroid-connu{
    
    
    width: 25em;
    height: 20em;
    position: relative;
    margin-top: 25%;  
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    perspective: 400em;
    transform-style: preserve-3d;
    
}
.carousel-info-asteroid-connu .item2{
    width: 100%;
    height: 100%;
    position: absolute; 
    transition: transform 1s;
    text-align: center;
    background: rgb(12, 66, 77);
    color: rgba(156, 82, 12);
    border: solid 1px black;
    border-radius: 10px;
    padding: 0.5em;
    font-size: 22px;
}


/*********************************CAROUSEL*******************************/

.carousel{
    width: 25em;
    height: 28em;
    position: relative; 
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    perspective: 500em;
    transform-style: preserve-3d;
    z-index: 1;
}
.carousel .item{
    width: 100%;
    height: 100%;
    position: absolute; 
    transition: transform 1s;
}

/********************************************************************************/


.item img{
    width: 100%;
    height: 100%;
}
/* .item #lutetia{
    padding-top: 20%;
    width: 80%;
    height: 80%;
} */

/****************************BOUTON**************************/
#button-left-carousel{
    border: none;
    position: relative;
    margin-left: 18.35%;
    background: rgba(0, 0, 0, 0); 
    outline-style: none;
}
#button-right-carousel{
    border: none; 
    position: relative;
    margin-left: 55.9%; 
    background: rgba(0, 0, 0, 0); 
    outline-style: none;
}
.button-aste{
    position: relative;
    z-index: 2;
    margin-top: -52%;
    padding-left: 1%;
}
#button-right-carousel{
    margin-left: 50.4%;
    
}
#button-left-carousel{
    padding-left: 3.1%;
}
#carousel-asteroid{
    height: 3em;
}

/*................. media query desktop.................. */

@media only screen and (min-device-width: 1024px){

    #name-lutetia{
        padding-top: 18%;
    }

    .carousel {
        margin-top: 16em;
    }

    .name-item-carousel{
        text-align: center;
        margin-top: -50%;
        color: #00bcd4;
        font-weight: bold;
        font-size: 1.5em;
    
    }
    
}

/*................. media query landscape tablette.................. */

@media only screen and (min-device-width: 813px) and (max-device-width: 1024px){

    .carousel {
        margin-top: 9em;
        width: 15em;
        height: 15em;
    }

    .carousel-info-asteroid-connu .item2 {
        font-size: 15px;
    }

    .carousel-info-asteroid-connu {
        margin-top: 15em;
        width: 15em;
        height: 15em;
    }

    .name-item-carousel{
        background: rgba(13, 57, 66, 0.9);
        text-align: center;
        margin-top: 0.5em;
        color: #00bcd4;
        font-weight: bold;
        font-size: 20px;
    }
    .item #lutetia {
        display: none;
    }
}


/*................. media query landscape mobile.................. */


@media only screen and (min-device-width: 376px) and (max-device-width: 812px){

    .carousel {
        margin-top: 9em;
        width: 10em;
        height: 15em;
    }

    .carousel-info-asteroid-connu .item2 {
        font-size: 15px;
    }

    .carousel-info-asteroid-connu {
        margin-top: 20em;
        width: 10em;
        height: 20em;
    }

    .name-item-carousel{
        background: rgba(13, 57, 66, 0.9);
        text-align: center;
        color: #00bcd4;
        font-weight: bold;
        font-size: 20px;
    }

}



/*................. media query portrait mobile.................. */

@media only screen and (max-device-width: 375px){

    .carousel {
        margin-top: 9em;
        width: 10em;
        height: 15em;
    }

    .carousel-info-asteroid-connu .item2 {
        font-size: 12px;
    }

    .carousel-info-asteroid-connu {
        margin-top: 15em;
        width: 10em;
        height: 15em;
    }

    .name-item-carousel{
        background: rgba(13, 57, 66, 0.8);
        text-align: center;
        color: #00bcd4;
        font-weight: bold;
        font-size: 20px;
    }

   

}