<div id="asteroid-information">
   <p id="title">The most famous asteroids of our solar system </p>

   <!-------------- CAROUSEL SMARTPHONE AND TABLETTE ----------------->

   <div id="carouselSmartphoneTablette">

         <div id="carouselSmartphoneTabletteImage">

             <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="10000">
                 <div class="carousel-inner">
                     <div class="carousel-item active">
                        <a data-fancybox="gallery" href="http://image.noelshack.com/fichiers/2018/41/3/1539174985-ceres.png">
                        <img class="d-block w-100" src="http://image.noelshack.com/fichiers/2018/41/3/1539174985-ceres.png" alt="First slide"><p>ceres</p></a>
                     </div>
                     <div class="carousel-item">
                        <a data-fancybox="gallery" href="http://image.noelshack.com/fichiers/2018/41/3/1539177130-vesta.png">
                        <img class="d-block w-100" src="http://image.noelshack.com/fichiers/2018/41/3/1539177130-vesta.png" alt="Second slide"><p>vesta</p></a>
                     </div>
                     <div class="carousel-item">
                        <a data-fancybox="gallery" href="http://image.noelshack.com/fichiers/2018/41/3/1539177053-eros.png">
                        <img class="d-block w-100" src="http://image.noelshack.com/fichiers/2018/41/3/1539177053-eros.png" alt="Third slide"><p>eros</p></a>
                     </div>
                     <div class="carousel-item">
                        <a data-fancybox="gallery" href="http://image.noelshack.com/fichiers/2018/41/3/1539177089-ida.png">
                        <img class="d-block w-100" src="http://image.noelshack.com/fichiers/2018/41/3/1539177089-ida.png" alt="Four slide"><p>ida</p></a>
                     </div>
                     <div class="carousel-item">
                        <a data-fancybox="gallery" href="http://image.noelshack.com/fichiers/2018/41/3/1539177241-lutetia.png">
                        <img class="d-block w-100" src="http://image.noelshack.com/fichiers/2018/41/3/1539177241-lutetia.png" alt="Five slide"><p>lutetia</p></a>
                     </div>
                     <div class="carousel-item">
                        <a data-fancybox="gallery" href="http://image.noelshack.com/fichiers/2018/41/3/1539177109-mathilde.png">
                        <img class="d-block w-100" src="http://image.noelshack.com/fichiers/2018/41/3/1539177109-mathilde.png" alt="Six slide"><p>mathilde</p></a>
                     </div>
                 </div>
             </div> 
         </div>
             
             <!---------- description --------->
 
         <div id="carouselSmartphoneTabletteText">
             <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="10000">
                 <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="asteroid-text">Ceres is the smallest recognized dwarf planet in the Solar System and the largest asteroid in the main belt, it is the only dwarf planet in the asteroid belt. With a diameter of 950 kilometers, Ceres is the largest and most massive object of the asteroid belt located between the orbits of the Mars and Jupiter planets. It constitutes one third of the total mass of the belt. It seems that Ceres has a rocky core and an ice mantle. It could host an ocean of liquid water, making it a trail for the search for extraterrestrial life.</div>
                     </div>
                     <div class="carousel-item">
                        <div class="asteroid-text">Vesta is an asteroid of the main belt.
                            With an average diameter of about 530 km, Vesta is the second largest asteroid of the belt (after Ceres) and contributes 9% of the total mass of it. Vesta is also the most brilliant asteroid, enough to be discernible to the naked eye at times..</div>
                     </div>
                     <div class="carousel-item">
                        <div class="asteroid-text">433 Eros is an asteroid of the solar system. Eros is a near-Earth asteroid, a rather large category that includes asteroids whose orbits approach or intersect with the Earth. It is the first asteroid around which was placed in orbit a space probe, NASA's NEAR Shoemaker probe. After being placed in orbit the 14 February 2000 the probe landed a year later, the 12 February 2001 on the surface of the asteroid, and carried out a chemical analysis of the soil there.</div>
                     </div>
                     <div class="carousel-item">
                        <div class="asteroid-text">243 Ida is an asteroid of the Coronis family, which is itself located in the main belt and has the distinction of having an asteroidal moon. It is the second asteroid to be observed closely by a spaceship and the first found to own a satellite. Ida's orbit is between the Mars and Jupiter planets.
                            With his irregular and elongated shape, has an average diameter of 31.4 km.</div>
                     </div>
                     <div class="carousel-item">
                        <div class="asteroid-text">21 Lutetia is a large asteroid in the asteroid belt of a rare spectral type. It is about 100 kilometers in diameter. Lutetia has an irregular shape and is strongly cratered. It has a high average density, which means that it is made of metal-rich rocks. It remained the largest asteroid visited by a space probe before the American Dawn probe arrived on Vesta a year later, in July 2011.</div>
                     </div>
                     <div class="carousel-item">
                        <div class="asteroid-text">253 Mathilde is an asteroid in the main belt about 50 km in diameter. It has a relatively elliptical orbit and takes more than four years to perform its revolution around the Sun. This asteroid has an unusually slow rotation time, it takes 17.4 days to achieve a 360 ° revolution around its axis. This asteroid was visited by the NEAR Shoemaker spacecraft in June 1997, while en route to the asteroid (433) Eros.</div>
                     </div>
                 </div>
             </div> 
         </div>
     </div>
</div>
<!-----------------------------------------CAROUSEL DESKTOP---------------------------------------->

   <div id="carousel">
      <div id="carousel-asteroid">
      <div class="carousel">
         <div class="item">
               <img src="http://image.noelshack.com/fichiers/2018/41/3/1539174985-ceres.png">
               <div class="name-item-carousel"><p>Ceres</p></div>
         </div>
         <div class="item">
               <img src="http://image.noelshack.com/fichiers/2018/41/3/1539177130-vesta.png">
               <div class="name-item-carousel"><p>Vesta</p></div>
         </div>
         <div class="item">
               <img src="http://image.noelshack.com/fichiers/2018/41/3/1539177053-eros.png">
               <div class="name-item-carousel"><p>Eros</p></div>
         </div>
         <div class="item">
               <img src="http://image.noelshack.com/fichiers/2018/41/3/1539177089-ida.png">
               <div class="name-item-carousel"><p>Ida</p></div>
         </div>
         <div class="item">
               <img src="http://image.noelshack.com/fichiers/2018/41/3/1539177241-lutetia.png">
               <div class="name-item-carousel"><p id="lutetia">Lutetia</p></div>
         </div>
         <div class="item">
               <img src="http://image.noelshack.com/fichiers/2018/41/3/1539177109-mathilde.png">
               <div class="name-item-carousel"><p>Mathilde</p></div>
         </div>
      </div>
      </div>
      <div class="carousel-info-asteroid-connu">
        <div class="item2">
          <p>
          Ceres is the smallest recognized dwarf planet in the Solar System and the largest asteroid in the main belt, it is the only dwarf planet in the asteroid belt. With a diameter of 950 kilometers, Ceres is the largest and most massive object of the asteroid belt located between the orbits of the Mars and Jupiter planets. It constitutes one third of the total mass of the belt. It seems that Ceres has a rocky core and an ice mantle. It could host an ocean of liquid water, making it a trail for the search for extraterrestrial life.
          </p>
        </div>
        <div class="item2">
          <p>
          Vesta is an asteroid of the main belt.
          With an average diameter of about 530 km, Vesta is the second largest asteroid of the belt (after Ceres) and contributes 9% of the total mass of it. Vesta is also the most brilliant asteroid, enough to be discernible to the naked eye at times.
          </p>     
          </div>  
         <div class="item2">
           <p>
             433 Eros is an asteroid of the solar system. Eros is a near-Earth asteroid, a rather large category that includes asteroids whose orbits approach or intersect with the Earth. It is the first asteroid around which was placed in orbit a space probe, NASA's NEAR Shoemaker probe. After being placed in orbit the 14 February 2000 the probe landed a year later, the 12 February 2001 on the surface of the asteroid, and carried out a chemical analysis of the soil there.
          </p>
        </div>
         <div class="item2">
           <p>
             243 Ida is an asteroid of the Coronis family, which is itself located in the main belt and has the distinction of having an asteroidal moon. It is the second asteroid to be observed closely by a spaceship and the first found to own a satellite. Ida's orbit is between the Mars and Jupiter planets.
            With his irregular and elongated shape, has an average diameter of 31.4 km.
          </p>
        </div>
         <div class="item2">
           <p>
           21 Lutetia is a large asteroid in the asteroid belt of a rare spectral type. It is about 100 kilometers in diameter. Lutetia has an irregular shape and is strongly cratered. It has a high average density, which means that it is made of metal-rich rocks. It remained the largest asteroid visited by a space probe before the American Dawn probe arrived on Vesta a year later, in July 2011.
               </p>
              </div>
         <div class="item2">
           <p>
             253 Mathilde is an asteroid in the main belt about 50 km in diameter. It has a relatively elliptical orbit and takes more than four years to perform its revolution around the Sun. This asteroid has an unusually slow rotation time, it takes 17.4 days to achieve a 360 ° revolution around its axis. This asteroid was visited by the NEAR Shoemaker spacecraft in June 1997, while en route to the asteroid (433) Eros.
               </p>
              </div>
      </div>
      <div class="button-aste">
         <button id="button-left-carousel" (click)="turn(-1); rotate(-1)"><i class="fa fa-chevron-left"></i></button>
         <button id="button-right-carousel" (click)="turn(1); rotate(1)"><i class="fa fa-chevron-right"></i></button>
      </div>
   </div>

   <!--------------- footer------------ -->
   <div id="footerDesktop">
    <div id="footerIntro">
        Project realized as part of the training Web / Mobile Developer at the Wild Code School
      </div>
      <div id="footerContainer">
        <div class="footer-contributor">
          <div class="footer-text"><p>Tournesac Romain</p>
            <section class="portfolio-experiment">
              <a href="https://www.linkedin.com/in/romain-tournesac/"><span class="text">Linked In profile</span>
              <span class="line -right"></span>
              <span class="line -top"></span>
              <span class="line -left"></span>
              <span class="line -bottom"></span></a>
            </section>
            <section class="portfolio-experiment">
              <a href="https://github.com/RmTrnsc"><span class="text">Github profile</span>
              <span class="line -right"></span>
              <span class="line -top"></span>
              <span class="line -left"></span>
              <span class="line -bottom"></span></a>
            </section>
          </div>
        </div>
        <div class="footer-contributor">
          <div class="footer-text"><p>D' Hervilley Duncan</p>
            <section class="portfolio-experiment">
              <a href="https://www.linkedin.com/in/duncan-d-hervilley/"><span class="text">Linked In profile</span>
              <span class="line -right"></span>
              <span class="line -top"></span>
              <span class="line -left"></span>
              <span class="line -bottom"></span></a>
            </section>
            <section class="portfolio-experiment">
              <a href="https://github.com/Myralis"><span class="text">Github profile</span>
              <span class="line -right"></span>
              <span class="line -top"></span>
              <span class="line -left"></span>
              <span class="line -bottom"></span></a>
            </section>
          </div>
        </div>
        <div class="footer-contributor">
          <div class="footer-text"><p>Chelu Raphael</p>
            <section class="portfolio-experiment">
              <a href="https://www.linkedin.com/in/rapha%C3%ABl-chelu/"><span class="text">Linked In profile</span>
              <span class="line -right"></span>
              <span class="line -top"></span>
              <span class="line -left"></span>
              <span class="line -bottom"></span></a>
            </section>
            <section class="portfolio-experiment">
              <a href="https://github.com/RaphaelChelu"><span class="text">Github profile</span>
              <span class="line -right"></span>
              <span class="line -top"></span>
              <span class="line -left"></span>
              <span class="line -bottom"></span></a>
            </section>
          </div>
        </div>
      </div>
    </div>

    <!---------------- mobile footer ------------------>

<div id="footerMobile">
    <p>a creation of</p>
  <div class="footerMobileContributor">
    <p>Tournesac Romain</p>
    <a href="https://www.linkedin.com/in/romain-tournesac/">Linked In profile</a>
  </div>
  <div class="footerMobileContributor">
    <p>D' Hervilley Duncan</p>
    <a href="https://www.linkedin.com/in/duncan-d-hervilley/">Linked In profile</a>
  </div>
  <div class="footerMobileContributor">
    <p>Chelu Raphael</p>
    <a href="https://www.linkedin.com/in/rapha%C3%ABl-chelu/">Linked In profile</a>
  </div>
</div>
