

 
<!-------------------------------------------CAROUSEL------------------------------------------>
<div id="carousel-asteroid">

  <div class="carousel">

      <div class="item">
          <img src="http://image.noelshack.com/fichiers/2018/41/3/1539174985-ceres.png">
          <div class="name-item-carousel"><p>Cérès</p></div>
      </div>
  
      <div class="item">
          <img src="http://image.noelshack.com/fichiers/2018/41/3/1539177130-vesta.png">
          <div class="name-item-carousel"><p>Vesta</p></div>
      </div>
  
      <div class="item">
          <img src="http://image.noelshack.com/fichiers/2018/41/3/1539177053-eros.png">
          <div class="name-item-carousel"><p>Eros</p></div>
      </div>
  
      <div class="item">
          <img src="http://image.noelshack.com/fichiers/2018/41/3/1539177089-ida.png">
          <div class="name-item-carousel"><p>Ida</p></div>
      </div>
  
      <div class="item">
          <img id="lutetia" src="http://image.noelshack.com/fichiers/2018/41/3/1539177241-lutetia.png">
          <!-- <div class="name-item-carousel" id="name-lutetia" ><p>Lutetia</p></div> -->
      </div>
  
      <div class="item">
          <img src="http://image.noelshack.com/fichiers/2018/41/3/1539177109-mathilde.png">
          <div class="name-item-carousel"><p>Mathilde</p></div>
      </div>
      
  </div>
  
</div>

<!------------------------------------------------------------------------------------->

  <div class="carousel-info-asteroid-connu">
      <div class="item2"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta dolor vel
          fermentum facilisis. Nam sed euismod sem. Sed posuere tellus quis libero vehicula 
          consectetur. Sed ex nunc, interdum id ipsum in, maximus posuere felis.
        </p></div>
      <div class="item2"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta dolor vel
          fermentum facilisis. Nam sed euismod sem. Sed posuere tellus quis libero vehicula 
          consectetur. Sed ex nunc, interdum id ipsum in, maximus posuere felis.
        </p></div>
      <div class="item2"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta dolor vel
          fermentum facilisis. Nam sed euismod sem. Sed posuere tellus quis libero vehicula 
          consectetur. Sed ex nunc, interdum id ipsum in, maximus posuere felis.
        </p></div>
      <div class="item2"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta dolor vel
          fermentum facilisis. Nam sed euismod sem. Sed posuere tellus quis libero vehicula 
          consectetur. Sed ex nunc, interdum id ipsum in, maximus posuere felis.
        </p></div>
      <div class="item2"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta dolor vel
          fermentum facilisis. Nam sed euismod sem. Sed posuere tellus quis libero vehicula 
          consectetur. Sed ex nunc, interdum id ipsum in, maximus posuere felis.
        </p></div>
      <div class="item2"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta dolor vel
              fermentum facilisis. Nam sed euismod sem. Sed posuere tellus quis libero vehicula 
              consectetur. Sed ex nunc, interdum id ipsum in, maximus posuere felis.
        </p></div>
      
  
  </div>

  <div class="button-aste">
      <button id="button-left-carousel" (click)="turn(-1)" style="font-size:2.4em;color:#00bcd4 "><i class="fa fa-chevron-left"></i></button>
      <button id="button-right-carousel" (click)="turn(1)" style="font-size:2.4em;color: #00bcd4"><i class="fa fa-chevron-right"></i></button>
  </div>
  
  
