li {
    list-style: none;
}
  /*........ top bar...... */

#topBar {
    display: flex;
}
button {
    margin: 10px 10px;
    border-radius: 15px;
    background-color: rgb(35, 36, 35);
    outline-style: none;
    transition: 0.7s;
}
button p {
    position: absolute;
    top: 35px;
    left: 40px;
    color: rgb(199, 120, 46);
    opacity: 0;
}
    /* .......title....... */

#title {
    color: rgb(199, 120, 46);
    font-family: 'SpacyRoundRegular';
}
#acceuilMenuBurger {
    visibility: hidden;
}

/*........media querie desktop.........*/

@media only screen and (min-device-width: 1025px){

    .btn-navigation {
        display: none;
    }

    /*..............title..............*/

    #logo-nasa {
        margin-left: 34.5em;
        margin-top: 1em;
    }
    #title {
        margin-left: 5.5em;
        color: rgb(199, 120, 46);
        font-size: 5em;
    }
    /*..........title category...........*/

    #title-category {
        display: flex;
        margin-left: 18em;
        margin-top: 2em;
        margin-bottom: 5em;
    }
        /*....... category......... */

    #title-categoryKuiperBelt > a {
        color: rgb(199, 120, 46);
        font-size: 28px;
        text-align: center;
        border: 3px solid #2cabcf;
        background-image: url(/assets/etoile.jpg);
        border-radius: 25px;
        text-decoration: none;
        padding: 0.5em;
        font-family: 'DataLatin';
        transition: 0.7s;
        margin-right: 2em;
    }
    #title-categoryYouKnow > a {
        color: rgb(199, 120, 46);
        font-size: 28px;
        text-align: center;
        border: 3px solid #2cabcf;
        background-image: url(/assets/etoile.jpg);
        border-radius: 25px;
        text-decoration: none;
        padding: 0.5em;
        font-family: 'DataLatin';
        transition: 0.7s;
        margin-right: 2em;
    }
    #title-categoryApprochEarth > a {
        color: rgb(199, 120, 46);
        font-size: 28px;
        text-align: center;
        border: 3px solid #2cabcf;
        background-image: url(/assets/etoile.jpg);
        border-radius: 25px;
        text-decoration: none;
        padding: 0.5em;
        font-family: 'DataLatin';
        transition: 0.7s;
    }
    /*........hover effect.......*/

    button:hover {
        cursor: pointer;
    }
    button:hover img{
        opacity: 0.4;
        transition: 0.4s;
    }
    button:hover p {
        opacity: 1;
        transition: 0.6s;
    }
    #title-categoryKuiperBelt > a:hover {
        background: rgba(182, 181, 181, 0.2);
        text-shadow: 0 1px rgb(235, 117, 38);
        transition: 0.5s;
    }
    #title-categoryKuiperBelt > a:active {
        color: red;
        transition: 0.1s;
    }
    #title-categoryYouKnow > a:hover {
        background: rgba(182, 181, 181, 0.2);
        text-shadow: 0 1px rgb(235, 117, 38);
        transition: 0.5s;
    }

    #title-categoryYouKnow > a:active {
        color: red;
        transition: 0.1s;
    }
    #title-categoryApprochEarth > a:hover {
        background: rgba(182, 181, 181, 0.2);
        text-shadow: 0 1px rgb(235, 117, 38);
        transition: 0.5s;
    }
    #title-categoryApprochEarth > a:active {
        color: red;
        transition: 0.1s;
    }
}
    /*.........media querie tablette version.....*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){

    .btn-navigation {
        display: none;
    }
    #logo-nasa {
        position: absolute;
        left: 125%;
    }
    #title {
        margin-left: 32.5%;
        font-size: 6em;
    }
    button {
        font-size: 28px;
    }
    #title-category {
        width: 100vw;
        display:flex;
        margin-left: 28%;
    }
    #title-categoryKuiperBelt > a, #title-categoryYouKnow > a {
        border: 1px solid ; 
        border-radius: 25px;
        font-size: 28px;
        padding: 0.4em;
        margin-right: 0.7em;
        color: rgb(199, 120, 46);
        text-align: center;
        border: 1px solid #2cabcf;
        text-decoration: none;
        font-family: 'DataLatin';
        background-image: url(/assets/etoile.jpg);
        
    }
    #title-categoryApprochEarth > a {
        border: 1px solid ; 
        border-radius: 25px;
        font-size: 28px;
        padding: 0.4em;
        color: rgb(199, 120, 46);
        text-align: center;
        border: 1px solid #2cabcf;
        text-decoration: none;
        font-family: 'DataLatin';
        background-image: url(/assets/etoile.jpg);
    }      
}

    /*.........media querie landscape mobile version.....*/

@media only screen and (min-device-width: 376px) and (max-device-width: 667px) {

    /*....... menu burger ....... */

    .btn-navigation {
        position: absolute;
        position: fixed;
        right: 30px;
        top: 8px;
        z-index: 30;
    }
    .btn-navigation .barre {
        width: 30px;
        height: 2px;
        background: rgb(199, 120, 46);
        margin-top: 5px;
        z-index: 20;
    }
    .navigation {
        position: fixed;
        right: 0;
        top: 0;
        padding: 0 4px;
        background: rgb(31, 30, 30);
        width: 30%;
        height: 100%;
        z-index: 20;

        transition: transform 1s ease-in-out;
        -webkit-transition: transform 1s ease-in-out;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
    .navigation.isOpen {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        z-index: 20;
    }
    .navigation ul {
        position: absolute;
        top: 50%;
        z-index: 20;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .navigation ul li {
        margin: 50px 0;
        z-index: 20;
    }
    .navigation ul li a{
        color: rgb(199, 120, 46);
        font-family: 'DataLatin';
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 0.6px;
        text-decoration: none;
        z-index: 20;
    }
    .navigation ul li a:active {
        color: red;
        z-index: 20;
    }
    #acceuilMenuBurger {
        visibility: visible;
    }

    /*...... navbar.... */
    #title {
        margin-left: 5.5em;
        font-size: 60px;
    }
    #logo-nasa {
        display: none;
    }
    button {
        display: none;
    }
    
}

/*......media queries portrait mobile version.......*/

@media only screen and (max-device-width: 375px) {

    /*....... menu burger ....... */

    .btn-navigation {
        position: absolute;
        position: fixed;
        right: 10px;
        top: 8px;
        z-index: 30;
    }
    .btn-navigation .barre ,.btn-navigation .barre1{
        width: 30px;
        height: 2px;
        background: rgb(199, 120, 46);
        margin-top: 5px;
        z-index: 20;
    }
    .navigation {
        position: fixed;
        right: 0;
        top: 0;
        padding: 0 4px;
        background: rgb(31, 30, 30);
        width: 50%;
        height: 100%;
        z-index: 20;

        transition: transform 1s ease-in-out;
        -webkit-transition: transform 1s ease-in-out;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
    .navigation.isOpen {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        z-index: 20;
    }
    .navigation ul {
        position: absolute;
        top: 50%;
        z-index: 20;

        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .navigation ul li {
        margin: 50px 0;
        z-index: 20;
    }
    .navigation ul li a{
        color: rgb(199, 120, 46);
        font-family: 'DataLatin';
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 0.5px;
        text-decoration: none;
        z-index: 20;
    }
    .navigation ul li a:active {
        color: red;
        z-index: 20;
    }
    #acceuilMenuBurger {
        visibility: visible;
    }

    /*...... navbar..... */

    #title {
        top: 1px;
        margin: 0 auto;
        font-size: 38px;
        margin-bottom: 1em;
    }
    #logo-nasa {
        display: none;
    }
    button {
        display: none;
    }
    #acceuil {
        display: none;
    }
    

}