li {
    list-style: none;
}
  /*........ top bar...... */

#topBar {
    display: flex;
}
button {
    margin: 10px 10px;
    border-radius: 15px;
    background-color: rgb(35, 36, 35);
    outline-style: none;
    transition: 0.7s;
}
button p {
    position: absolute;
    top: 35px;
    left: 22px;
    color: rgb(199, 120, 46);
    opacity: 0;
    font-size: 14px;
}
    /* .......title....... */

#title {
    color: rgb(199, 120, 46);
    font-family: 'SpacyRoundRegular';
}
#acceuilMenuBurger {
    visibility: hidden;
}

/*........media querie desktop.........*/

@media only screen and (min-device-width: 1025px){

    .btn-navigation {
        display: none;
    }
    /*..............title..............*/

    #logo-nasa {
        margin-left: 26em;
        margin-top: 1em;
    }
    #title {
        margin-left: 6em;
        color: rgb(199, 120, 46);
        font-size: 4em;
    }
    /*..........title category...........*/

    #title-category {
        display: flex;
        margin-left: 6em;
        margin-top: 2em;
        margin-bottom: 5em;
    }
    #title-category a {
        color: rgb(199, 120, 46);
    }
    /*....... category......... */

    /*************hover effect ***************/
    button:hover {
        cursor: pointer;
    }
    button:hover img{
        opacity: 0.4;
        transition: 0.4s;
    }
    button:hover p {
        opacity: 1;
        transition: 0.6s;
    }
    .btn-wrapper {
    width: 290px;
    height: 110px;
    position: relative;
    margin-right: 2em;
    }
    .btn-wrapper:hover .btn-inner {
    top: -4px;
    transform: scale(1, 1);
    cursor: pointer;
    }
    .btn-wrapper__container {
    border-bottom: 2px solid rgb(199, 120, 46);
    position: absolute;
    width: 100%;
    height: 80px;
    }
    .btn-wrapper__container:before, .btn-wrapper__container:after {
    border-bottom: 2px solid rgb(199, 120, 46);
    width: 96%;
    left: 2%;
    bottom: -8px;
    content: "";
    position: absolute;
    }
    .btn-wrapper__container:after {
    width: 92%;
    left: 4%;
    bottom: -14px;
    }
    .btn-wrapper__container .btn-inner {
    width: 104.2%;
    height: 100%;
    position: absolute;
    top: 20px;
    left: -2.1%;
    border: 2px solid #15B5E2;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DataLatin';
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 30px;
    background-image: url(/assets/etoile.jpg);
    transform: scale(0.96, 0.96);
    transition: all .3s;
    z-index: 4;
    }
    .btn-wrapper__container .btn-inner__text {
    text-decoration: none;
    color: rgb(199, 120, 46);
    }
}
    /*.........media querie tablette version.....*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){

    .btn-navigation {
        display: none;
    }
    #logo-nasa {
        position: absolute;
        left: 125%;
    }
    #title {
        margin-left: 32.5%;
        font-size: 6em;
    }
    button {
        font-size: 28px;
    }
    #title-category {
        width: 100vw;
        display:flex;
        margin-left: 28%;
    }
    #title-categoryKuiperBelt > a, #title-categoryYouKnow > a {
        border: 1px solid ; 
        border-radius: 25px;
        font-size: 28px;
        padding: 0.4em;
        margin-right: 0.7em;
        color: rgb(199, 120, 46);
        text-align: center;
        border: 1px solid #2cabcf;
        text-decoration: none;
        font-family: 'DataLatin';
        background-image: url(/assets/etoile.jpg);
        
    }
    #title-categoryApprochEarth > a {
        border: 1px solid ; 
        border-radius: 25px;
        font-size: 28px;
        padding: 0.4em;
        color: rgb(199, 120, 46);
        text-align: center;
        border: 1px solid #2cabcf;
        text-decoration: none;
        font-family: 'DataLatin';
        background-image: url(/assets/etoile.jpg);
    }      
}

    /*.........media querie landscape mobile version.....*/

@media only screen and (min-device-width: 376px) and (max-device-width: 667px) {

    /*....... menu burger ....... */
    
    .btn-navigation {
        position: absolute;
        position: fixed;
        right: 30px;
        top: 8px;
        z-index: 30;
    }
    .btn-navigation .barre {
        width: 30px;
        height: 2px;
        background: rgb(199, 120, 46);
        margin-top: 5px;
        z-index: 20;
    }
    .navigation {
        position: fixed;
        right: 0;
        top: 0;
        padding: 0 4px;
        background: rgb(31, 30, 30);
        width: 30%;
        height: 100%;
        z-index: 20;

        transition: transform 1s ease-in-out;
        -webkit-transition: transform 1s ease-in-out;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
    .navigation.isOpen {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        z-index: 20;
    }
    .navigation ul {
        position: absolute;
        top: 50%;
        z-index: 20;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .navigation ul li {
        margin: 50px 0;
        z-index: 20;
    }
    .navigation ul li a{
        color: rgb(199, 120, 46);
        font-family: 'DataLatin';
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 0.6px;
        text-decoration: none;
        z-index: 20;
    }
    .navigation ul li a:active {
        color: red;
        z-index: 20;
    }
    #acceuilMenuBurger {
        visibility: visible;
    }

    /*...... navbar.... */
    #title {
        margin-left: 5.5em;
        font-size: 60px;
    }
    #logo-nasa {
        display: none;
    }
    button {
        display: none;
    }
    
}

/*......media queries portrait mobile version.......*/

@media only screen and (max-device-width: 375px) {

    /*....... menu burger ....... */

    .btn-navigation {
        position: absolute;
        position: fixed;
        right: 10px;
        top: 8px;
        z-index: 30;
    }
    .btn-navigation .barre ,.btn-navigation .barre1{
        width: 30px;
        height: 2px;
        background: rgb(199, 120, 46);
        margin-top: 5px;
        z-index: 20;
    }
    .navigation {
        position: fixed;
        right: 0;
        top: 0;
        padding: 0 4px;
        background: rgb(31, 30, 30);
        width: 50%;
        height: 100%;
        z-index: 20;

        transition: transform 1s ease-in-out;
        -webkit-transition: transform 1s ease-in-out;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
    .navigation.isOpen {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        z-index: 20;
    }
    .navigation ul {
        position: absolute;
        top: 50%;
        z-index: 20;

        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    .navigation ul li {
        margin: 50px 0;
        z-index: 20;
    }
    .navigation ul li a{
        color: rgb(199, 120, 46);
        font-family: 'DataLatin';
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 0.5px;
        text-decoration: none;
        z-index: 20;
    }
    .navigation ul li a:active {
        color: red;
        z-index: 20;
    }
    #acceuilMenuBurger {
        visibility: visible;
    }

    /*...... navbar..... */

    #title {
        top: 1px;
        margin: 0 auto;
        font-size: 38px;
        margin-bottom: 1em;
    }
    #logo-nasa {
        display: none;
    }
    button {
        display: none;
    }
    #acceuil {
        display: none;
    }
}