
<div class="nasa-information">
    <div class="text-information">

        <p *ngIf = "dailyInfo != null">
          
          <img class="w-100" src="{{images[1]}}" />
        </p>
    </div>

    <div class="text-information">
        <p *ngIf = "dailyInfo != null">
          
          <img class="w-100" src="{{images[15]}}" />
        </p>
    </div>
    <div class="text-information">
      
        <p *ngIf = "dailyInfo != null">
         
          <img class="w-100" src="{{images[56]}}" />
        </p>
    </div>
</div>
<div id="second-part">
  <div class="nasa-information">
      <div class="text-information">
          <p *ngIf = "dailyInfo != null">
           
            <img class="w-100" src="{{images[70]}}" />
          </p>
      </div>
      <div class="text-information">
          <p *ngIf = "dailyInfo != null">
            
            <img class="w-100" src="{{images[80]}}" />
          </p>
      </div>
      <div class="text-information">
          <p *ngIf = "dailyInfo != null">
            
            <img class="w-100" src="{{images[98]}}" />
          </p>
      </div>
  </div>
</div>