<!----------------------------------------FIRST DAILY NEWS PART------------------------------------------->

<div class="nasa-information">

    <div class="text-information">

        <h4> {{titles[92]}} </h4>
        <div class="image-daily-news"> 
            <p *ngIf = "dailyInfo != null"><img class="w-100" src="{{images[92]}}" /></p>
        </div>
        <p> {{description[92]}} </p>

    </div>


    <div class="text-information">
        
        <h4> {{titles[59]}} </h4>
        <div class="image-daily-news">
            <p *ngIf = "dailyInfo != null"><img class="w-100" src="{{images[59]}}" /></p>
        </div>
        <p> {{description[59]}} </p>

    </div>

</div>

<div class="nasa-information">
    <div class="text-information">
      
        <h4> {{titles[16]}} </h4>
        <div class="image-daily-news">
            <p *ngIf = "dailyInfo != null"><img class="w-100" src="{{images[16]}}" /></p>
        </div>
        <p> {{description[16]}} </p>

    </div>

    <div class="text-information">

        <h4> {{titles[70]}} </h4>
        <div class="image-daily-news">
            <p *ngIf = "dailyInfo != null"><img class="w-100" src="{{images[70]}}" /></p>
        </div>
        <p> {{description[70]}} </p>

    </div>

</div>


