<!----------------------------------------FIRST DAILY NEWS PART------------------------------------------->

<div class="nasa-information">
  <div class="text-information">
      <p class="title-article"> {{titles[92]}} </p>
      <div class="image-daily-news"> 
          <p *ngIf = "dailyInfo != null"><img class="w-100" src="{{images[92]}}" /></p>
      </div>
      <p> {{description[92]}} </p>
  </div>
  <div class="text-information">
    <p class="title-article"> {{titles[59]}} </p>
    <div class="image-daily-news">
        <p *ngIf = "dailyInfo != null"><img class="w-100" src="{{images[59]}}" /></p>
    </div>
    <p> {{description[59]}} </p>
  </div>
  <div class="text-information">
    <p class="title-article"> {{titles[16]}} </p>
    <div class="image-daily-news">
        <p *ngIf = "dailyInfo != null"><img class="w-100" src="{{images[16]}}" /></p>
    </div>
    <p> {{description[16]}} </p>
  </div>
  <div class="text-information">
    <p class="title-article"> {{titles[70]}} </p>
    <div class="image-daily-news">
        <p *ngIf = "dailyInfo != null"><img class="w-100" src="{{images[70]}}" /></p>
    </div>
    <p> {{description[70]}} </p>
  </div>
</div>

<!--------------- footer------------ -->

<div id="footerIntro">
  Project realized as part of the training Web / Mobile Developer at the Wild Code School
</div>
<div id="footerContainer">
  <div class="footer-contributor">
    <div class="footer-text"><p>Tournesac Romain</p>
      <section class="portfolio-experiment">
        <a href="https://www.linkedin.com/in/romain-tournesac/"><span class="text">Linked In profile</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span></a>
      </section>
      <section class="portfolio-experiment">
        <a href="https://github.com/RmTrnsc"><span class="text">Github profile</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span></a>
      </section>
    </div>
  </div>
  <div class="footer-contributor">
    <div class="footer-text"><p>D' Hervilley Duncan</p>
      <section class="portfolio-experiment">
        <a href="https://www.linkedin.com/in/duncan-d-hervilley/"><span class="text">Linked In profile</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span></a>
      </section>
      <section class="portfolio-experiment">
        <a href="https://github.com/Myralis"><span class="text">Github profile</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span></a>
      </section>
    </div>
  </div>
  <div class="footer-contributor">
    <div class="footer-text"><p>Chelu Raphael</p>
      <section class="portfolio-experiment">
        <a href="https://www.linkedin.com/in/rapha%C3%ABl-chelu/"><span class="text">Linked In profile</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span></a>
      </section>
      <section class="portfolio-experiment">
        <a href="https://github.com/RaphaelChelu"><span class="text">Github profile</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span></a>
      </section>
    </div>
  </div>
</div>


<!---------------- mobile footer ------------------>

<div id="footerMobile">
    <p>a creation of</p>
  <div class="footerMobileContributor">
    <p>Tournesac Romain</p>
    <a href="https://www.linkedin.com/in/romain-tournesac/">Linked In profile</a>
  </div>
  <div class="footerMobileContributor">
    <p>D' Hervilley Duncan</p>
    <a href="https://www.linkedin.com/in/duncan-d-hervilley/">Linked In profile</a>
  </div>
  <div class="footerMobileContributor">
    <p>Chelu Raphael</p>
    <a href="https://www.linkedin.com/in/rapha%C3%ABl-chelu/">Linked In profile</a>
  </div>
</div>


