<div id="textAcceuil">
  <div id="lorem">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A blanditiis, rerum enim dignissimos exercitationem et quos repudiandae itaque tenetur sed qui quam, nobis placeat nostrum id facilis? Cumque, suscipit ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam officiis autem cumque vitae error qui dolorem consequuntur nulla, laborum libero dolore, quam, at ratione velit! Totam sint dignissimos laborum dolore!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla suscipit ipsum iste deserunt voluptates incidunt, nobis vitae sit numquam rem ipsam architecto corrupti facere, dolore corporis. Commodi, aperiam? Nostrum, quos.</p>
  </div>
</div>