<div class="container">
  <div class="row justify-content-center">
    <div class="lorem col-xl-8">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A blanditiis, rerum enim dignissimos exercitationem et quos repudiandae itaque tenetur sed qui quam, nobis placeat nostrum id facilis? Cumque, suscipit ratione.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam officiis autem cumque vitae error qui dolorem consequuntur nulla, laborum libero dolore, quam, at ratione velit! Totam sint dignissimos laborum dolore!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla suscipit ipsum iste deserunt voluptates incidunt, nobis vitae sit numquam rem ipsam architecto corrupti facere, dolore corporis. Commodi, aperiam? Nostrum, quos.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque incidunt recusandae optio debitis voluptas assumenda inventore minus fugit ipsam repellendus, vero hic in sequi? Sequi quis eaque atque voluptatum exercitationem.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus voluptatem fuga odit dignissimos quasi eaque, expedita consequatur recusandae. Et consequuntur eos eius cupiditate officia modi rem necessitatibus consectetur sequi eaque.</p>
    </div>
  </div>
</div>